 <footer id="footer">
    

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="images/home/under.png" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <h2>Testimonial</h2>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="{{footer1}}" alt=""></a>
                            </div>
                            <div class="media-body">
                            <blockquote>{{crmSettings['qoute1']}}</blockquote>
                                <h3><a href="#">- {{crmSettings['name1']}}</a></h3>
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="{{footer2}}" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>{{crmSettings['qoute2']}}</blockquote>
                                <h3><a href="">- {{crmSettings['name2']}}</a></h3>
                            </div>
                        </div>   
                    </div> 
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                        E-mail: <a href="mailto:{{crmSettings['email']}}">{{crmSettings['email']}}</a> <br> 
                        Phone: {{crmSettings['phone']}} <br> 
                        Fax: {{crmSettings['fax']}}<br> 
                        </address>

                        <h2>Address</h2>
                        <address>
                        {{crmSettings['street']}} <br> 
                        {{crmSettings['city']}} <br> 
                       {{crmSettings['country']}} <br> 
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <h2>Send a message</h2>
                        
                   
                            {{ page.con }}
                         

                            
      
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; Your Company 2014. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="http://www.themeum.com">Themeum</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->
</body>
