
<div class="main-slider">
     <div class="slide-text">
        <h1>{{fields.title.content}}</h1>
        <P>{{fields.field_slider_description.content}}</P>
        <a href="{{ fields.field_slider_link_button.uri }}" class="btn btn-common">{{ fields.field_slider_name_button.content }}</a>


    </div>
    {{fields.field_slider_image.content}}
</div>