 <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                          <h1 class="title">{{about_config['title']}}</h1>
                            <p>{{about_config['slogan']}}</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="company-information" class="padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="{{about_image}}" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 padding-top">
                    <p>{{about_config['desc'] |raw }}</p>
                </div>
            </div>
        </div>
    </section>

    {{ drupal_view('service_block_home', 'block_1') }}
  

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">{{tour['title']}}</h1>
                            <p>{{tour['desc']}}</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="http://localhost/eve/{{tour['btn_link']}}" class="btn btn-common">{{tour['btn']}}</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#action-->

    <section id="team">
        <div class="container">
            <div class="row">
                <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Meet the Team</h1>
                <p class="text-center wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                Ut enim ad minim veniam, quis nostrud </p>
                <div id="team-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">
                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#team-carousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                        {% for  row,item in teams %}
                      {% if row <=3 %}
                      
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{{item.img}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="social-profile">
                                            <ul class="nav nav-pills">
                                                <li><a href="{{item.field_facebook_link_uri}}"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="{{item.field_twitter_link_uri}}"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="{{item.field_google_link_uri}}"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="person-info">
                                        <h2>{{item.title}}</h2>
                                        <p>{{item.field_job_title_value}}</p>
                                    </div>
                                </div>
                            </div>
                            
                            {% endif %}
                            {% endfor %}
                        </div>

                        <div class="item">
                          {% for  row,item in teams %}
                      {% if row >3 %}
                            
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="{{item.img}}" class="img-responsive" alt="">
                                        </div>
                                       <div class="social-profile">
                                            <ul class="nav nav-pills">
                                                <li><a href="{{item.field_facebook_link_uri}}"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="{{item.field_twitter_link_uri}}"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="{{item.field_google_link_uri}}"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="person-info">
                                        <h2>{{item.title}}</h2>
                                        <p>{{item.field_job_title_value}}</p>
                                    </div>
                                </div>
                            </div>
                           
                       
                            {% endif %}
                             {% endfor %}

                </div>
                    </div>

                    <!-- Controls -->
                    <a class="left team-carousel-control hidden-xs" href="#team-carousel" data-slide="prev">left</a>
                    <a class="right team-carousel-control hidden-xs" href="#team-carousel" data-slide="next">right</a>
                </div>
            </div>
        </div>
    </section>
    <!--/#team-->
